{% extends "base.html" %}
{% block content %}
    <h1>Lista de Veiculos</h1>
    {% for veiculos in veiculos %}
    <li>
        <ul>{{veiculos.marca}} {{veiculos.modelo}} {{ veiculos.placa }} {{ veiculos.preco }} <a href="{% url 'veiculos_editar' veiculos.id %}">editar</a>  <a href="{% url 'veiculos_delete' veiculos.id%}">Apagar</a> </ul>
    </li>
    {% endfor %}
    <a href="{% url 'cadastro' %}">Cadastro</a>
        <div class="pagination">
            <span class="step-links">
                {% if veiculos.has_previous %}
                    <a href="?page=1">&laquo; Pag Inicial</a>
                    <a href="?page={{ veiculos.previous_page_number }}">voltar</a>
                {% endif %}

                <span class="current">
                    Page {{ veiculos.number }} of {{ veiculos.paginator.num_pages }}.
                </span>

                {% if veiculos.has_next %}
                    <a href="?page={{ veiculos.next_page_number }}">próximo</a>
                    <a href="?page={{ veiculos.paginator.num_pages }}">última pag &raquo;</a>
                {% endif %}
            </span>
        </div>
{% endblock %}