{% extends "base.html" %}
{% block content %}
    <h1>Lista de Servicos</h1>
    <form method="get">
    <div class="row">
      <div class="six columns">
        <input class="u-full-width" type="text" placeholder="Localizar..." name="search_box">
      </div>
    </div>
  </form>
    {% for servicos in servicos %}
    <li>
        <ul>{{servicos.codigo}} {{servicos.nome}} {{ servicos.preco }} <a href="{% url 'servicos_editar' servicos.id %}">editar</a>  <a href="{% url 'servicos_delete' servicos.id%}">Apagar</a> </ul>
    </li>
    {% endfor %}
    <a href="{% url 'servicos_cadastro' %}">Cadastro</a>
        <div class="pagination">
            <span class="step-links">
                {% if servicos.has_previous %}
                    <a href="?page=1">&laquo; Pag Inicial</a>
                    <a href="?page={{ servicos.previous_page_number }}">voltar</a>
                {% endif %}

                <span class="current">
                    Page {{ servicos.number }} of {{ servicos.paginator.num_pages }}.
                </span>

                {% if servicos.has_next %}
                    <a href="?page={{ servicos.next_page_number }}">próximo</a>
                    <a href="?page={{ servicos.paginator.num_pages }}">última pag &raquo;</a>
                {% endif %}
            </span>
        </div>
{% endblock %}
