<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Produtos</title>
</head>
<body>
    <h1>Aqui cadastrará o produto</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_table}}
        <button type="submit">Enviar</button>
    </form>
    <a href="{% url 'produtos' %}"> Lista de Produtos </a>
</body>
</html>